<!-- <h1>Registration From</h1>

  Already Registered?
  <button type="submit" class="btn btn-primary"><a routerLink="LoginHere</button>
  
<form  style="width: 50%;">
  <div class="row">
    <div class="col">
      <label for="inputEmail4">FirstName</label>
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <label for="inputEmail4">LastName</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div><br><br>
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div><br><br>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div><br>
    
    
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div><br>
    <button type="submit" class="btn btn-primary">Register</button>
   
</form> -->


<router-outlet></router-outlet>